body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3 {
    color: #fff;
}

.page-header > h1, .page-header > h3 {
    font-family: 'Bungee Shade', cursive;
}

.container, .container-fluid {
    border: 0.5px dashed white;
}


.hm-container {
    max-width: auto;
    width: 400px;
    height: 300px;
    margin: 15px auto;
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 700;
    padding: 15px;
}

#hm-help-text {
    margin-left: 245px;
    font-size: 30px;
    color: red;
    position: absolute;
    width: auto;
}

#hm-help-line {
    width: 75px;
    height: 30px;
    margin-left: 215px;
    margin-top: 55px;
    border-right: 4px dashed red;
    position: absolute;   
    -webkit-transform:
            rotate(-135deg); 
}

.hm-horizontal-line {
    margin-left: 40px;
    margin-top: 10px;
    height: 25px;
    width: 135px;
    border-top: 7px solid white;
    border-right: 7px solid white;
    position: absolute;
}

.hm-head {
    width: 75px;
    height: 75px;
    margin-left: 135px;
    margin-top: 35px;
    border: 6px solid white;
    border-radius: 50%;
    position: absolute;
}

.hm-body {
    width: 75px;
    height: 75px;
    margin-left: 165px;
    margin-top: 110px;
    border-left: 10px solid white;
    position: absolute;   
}

.hm-hand1 {
    width: 75px;
    height: 75px;
    margin-left: 130px;
    margin-top: 145px;
    border-right: 7px solid white;
    position: absolute;   
    -webkit-transform:
            rotate(-135deg); 
}


.hm-hand2 {
    width: 75px;
    height: 75px;
    margin-left: 135px;
    margin-top: 145px;
    border-right: 7px solid white;
    position: absolute;   
    -webkit-transform:
            rotate(-45deg); 
}

.hm-leg1 {
    width: 75px;
    height: 75px;
    margin-left: 130px;
    margin-top: 195px;
    border-right: 7px solid white;
    position: absolute;   
    -webkit-transform:
            rotate(-135deg); 
}


.hm-leg2 { 
 background: inherit;
    width: 75px;
    height: 75px;
    margin-left: 135px;
    margin-top: 195px;
    border-right: 7px solid white;
    position: absolute;   
    -webkit-transform:
            rotate(-45deg); 
}


.hm-stand-line {
    margin-left: 50px;
    margin-top: 0px;
    height: 250px;
    border-left: 7px solid white;
    position: absolute;
}

.hm-base-line {
    width: 250px;
    margin-left: 0px;
    margin-top: 250px;
    border-bottom: 7px solid white;
    position: absolute;
}

.keys-container {
    width: auto;
    height: 300px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    padding-top: 25px;
}

.keys-container > h3 {
    color: #fff;
}

.word-dashes {
    color: #fff;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 20px;
}

#guessesLeft, #guessesMade {
    color: deepskyblue;
}

#winCount {
    color: greenyellow;
}

#lossCount, #msg {
    color: red;
}
